@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap");
$form-select-focus-width: 0;
$navbar-toggler-border-radius: 0;
$btn-close-focus-shadow: 0;
$navbar-toggler-focus-width: 0;
$navbar-toggler-transition: none;
$form-select-focus-border-color: white;
$form-select-indicator: url("../images/flecha-desplegable.svg");
$modal-content-color: white;
$modal-content-bg: black;
$modal-header-border-width: 0;
$dropdown-divider-bg: white;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
html {
  font-size: 85%;
}
* {
  font-family: "Poppins", sans-serif;
}
//NAVBAR
header {
  background-image: linear-gradient(to bottom right, black 50%, #040c51 100%);
}
.navbar-toggler {
  width: 35px;
  height: 31px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  outline: none;
  &__icon {
    height: 5px;
    border-radius: 50px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &--top-bar {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &--middle-bar {
      opacity: 0;
      filter: alpha(opacity=0);
    }
    &--bottom-bar {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  &.collapsed {
    .navbar-toggler__icon--top-bar {
      top: 0;
      right: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .navbar-toggler__icon--middle-bar {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    .navbar-toggler__icon--bottom-bar {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      bottom: 0;
      right: 0;
    }
  }
}
.readex-pro {
  font-family: "Readex Pro", sans-serif;
}
.button {
  max-width: fit-content;
  white-space: normal;
  &:hover,
  &:active {
    transform: scale(1.1);
  }
  &--blue {
    background-color: #182275;
  }
  &--olivedrab {
    background-color: olivedrab;
  }
  &--eliminar-cart {
    width: fit-content;
    color: white;
    &:hover {
      transform: scale(1.1);
      color: #f84440;
    }
  }
}
.icono {
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  &--netflix {
    border-color: #f84440;
  }
  &--movistar-play {
    border-color: #009ff7;
  }
  &--disney-plus {
    border-color: #05009d;
  }
  &--star-plus {
    border-color: #ff5400;
  }
  &--HBO-max {
    border-color: #9200bb;
  }
  &--prime-video {
    border-color: #d0009c;
  }
  &--spotify {
    border-color: #18d860;
  }
  &--6 {
    max-width: 5rem;
  }
  &--8 {
    max-width: 8rem;
  }
  &--10 {
    max-width: 10rem;
  }
  &--12 {
    max-width: 12rem;
  }
  &--15 {
    max-width: 15rem;
  }
  &--30 {
    max-width: 30rem;
  }
}
.streamingCard {
  width: fit-content;
  max-width: 20rem;
  border-radius: 10px;
  &--netflix {
    background-color: #f84440;
    box-shadow: -20px 30px 144px -19px #f84440cc;
  }
  &--movistar-play {
    background-color: #009ff7;
    box-shadow: -20px 30px 144px -19px #009ff7cc;
  }
  &--disney-plus {
    background-color: #05009d;
    box-shadow: -20px 30px 144px -19px #05009dcc;
  }
  &--star-plus {
    background-color: #ff5400;
    box-shadow: -20px 30px 144px -19px #ff5400cc;
  }
  &--HBO-max {
    background-color: #9200bb;
    box-shadow: -20px 30px 144px -19px #9200bbcc;
  }
  &--prime-video {
    background-color: #d0009c;
    box-shadow: -20px 30px 144px -19px #d0009ccc;
  }
  &--spotify {
    background-color: #18d860;
    box-shadow: -20px 30px 144px -19px #18d860cc;
  }
  &__buttons {
    &__months {
      &__input {
        max-width: 5rem;
      }
    }
  }
}
.form {
  background-image: linear-gradient(
    to bottom right,
    #040c51 20%,
    #171e5700 100%
  );
  max-width: 30rem;
  &-select {
    max-width: 12rem;
  }
  &__link {
    color: #47c0f0;
  }
}
.account-card {
  &--netflix {
    box-shadow: -20px 20px 30px #f8444054;
  }
  &--movistar-play {
    box-shadow: -20px 20px 30px #009ff754;
  }
  &--disney-plus {
    box-shadow: -20px 20px 30px #05009d54;
  }
  &--star-plus {
    box-shadow: -20px 20px 30px #ff540054;
  }
  &--HBO-max {
    box-shadow: -20px 20px 30px #9200bb54;
  }
  &--prime-video {
    box-shadow: -20px 20px 30px #d0009c54;
  }
  &--spotify {
    box-shadow: -20px 20px 30px #18d86054;
  }
  &__text {
    &--netflix {
      color: #f84440;
    }
    &--movistar-play {
      color: #009ff7;
    }
    &--disney-plus {
      color: #05009d;
    }
    &--star-plus {
      color: #ff5400;
    }
    &--HBO-max {
      color: #9200bb;
    }
    &--prime-video {
      color: #d0009c;
    }
    &--spotify {
      color: #18d860;
    }
  }
}
.modal-dialog,
.modal-content {
  width: fit-content;
}
.dropdown-toggle,
.dropdown-item,
.dropdown-menu {
  white-space: normal !important;
  min-width: unset !important;
}
@media (max-width: 253px) {
  .streamingCard {
    &__buttons {
      &__cart {
        margin-right: 0;
      }
      &__months {
        flex-direction: column !important;
        max-width: 5rem;
        &__text {
          border-radius: 1rem 1rem 0 0 !important;
          width: 100%;
        }
        &__input {
          border-radius: 0 0 1rem 1rem !important;
          max-width: none;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
