<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios | Zorrito +</title>
    <link rel="shortcut icon" href="../../images/zorrito-icon.svg" />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="bg-black">
    <header class="position-sticky top-0 left-0 z-index-3 p-0">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid py-3 px-4">
          <a
            href="../../index.html"
            class="navbar-brand my-0 me-0 p-0 ms-md-3 ms-lg-5"
            ><img
              src="../../images/zorrito-icon.svg"
              alt="Ícono de Zorrito Plus"
              class="logo-icon"
          /></a>
          <button
            class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around ms-0 me-md-3 me-lg-5 p-0 border-0 position-relative"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span
              class="navbar-toggler__icon navbar-toggler__icon--top-bar"
            ></span>
            <span
              class="navbar-toggler__icon navbar-toggler__icon--middle-bar"
            ></span>
            <span
              class="navbar-toggler__icon navbar-toggler__icon--bottom-bar"
            ></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end my-0 mx-0 p-0 mx-md-3 ms-lg-0 me-lg-5"
            id="navbarNav"
          >
            <ul class="navbar-nav d-lg-flex align-items-center pt-4 pt-lg-0">
              <li class="nav-item pb-2 pt-0 py-lg-0 px-0 pe-lg-4">
                <a
                  href="../../index.html"
                  class="nav-link active fs-5 p-0 fw-bold text-uppercase"
                  >Inicio</a
                >
              </li>
              <li class="nav-item py-2 py-lg-0 px-0 px-lg-4">
                <a
                  href="./servicios.html"
                  class="nav-link active fs-5 p-0 fw-bold text-uppercase"
                  >Servicios</a
                >
              </li>
              <li class="nav-item pt-2 pb-0 py-lg-0 px-0 ps-lg-4">
                <a
                  href="./iniciarSesion.html"
                  class="nav-link active fs-5 p-0 fw-bold text-uppercase"
                  ><button
                    class="bg-black text-white border-white rounded-4 py-2 px-3 fw-bold text-uppercase"
                  >
                    Iniciar sesión
                    <svg
                      width="32"
                      height="35"
                      viewBox="0 0 32 35"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="9"
                        y="1"
                        width="22"
                        height="33"
                        stroke="white"
                        stroke-width="2"
                      />
                      <path
                        d="M24.0607 19.0607C24.6464 18.4749 24.6464 17.5251 24.0607 16.9393L14.5147 7.3934C13.9289 6.80761 12.9792 6.80761 12.3934 7.3934C11.8076 7.97919 11.8076 8.92893 12.3934 9.51472L20.8787 18L12.3934 26.4853C11.8076 27.0711 11.8076 28.0208 12.3934 28.6066C12.9792 29.1924 13.9289 29.1924 14.5147 28.6066L24.0607 19.0607ZM0 19.5L23 19.5V16.5L0 16.5L0 19.5Z"
                        fill="white"
                      />
                    </svg></button
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="inicio px-4">
      <div class="my-5 p-0 mx-md-3 mx-lg-5">
        <h1 class="text-white fs-1 text-center pb-2 lh-base text-uppercase m-0">
          Nuestros planes
        </h1>
        <div class="row justify-content-around">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--netflix"
            >
              <div
                class="logo-streaming p-2 m-3 icono icono--13 icono--netflix"
              >
                <img
                  src="../../images/netflix-logo.png"
                  alt="Logo de Netflix"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 12</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--movistarPlay"
            >
              <div
                class="logo-streaming p-2 m-3 icono icono--13 icono--movistarPlay"
              >
                <img
                  src="../../images/movistar-logo.png"
                  alt="Logo de Movistar Play"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 5</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--disneyPlus"
            >
              <div
                class="logo-streaming p-2 m-3 icono icono--13 icono--disneyPlus"
              >
                <img
                  src="../../images/disneyplus-logo.png"
                  alt="Logo de Disney Plus"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 7</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--starPlus"
            >
              <div
                class="logo-streaming p-2 m-3 icono icono--13 icono--starPlus"
              >
                <img
                  src="../../images/starplus-logo.png"
                  alt="Logo de Star Plus"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 7</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--hboMax"
            >
              <div class="logo-streaming p-2 m-3 icono icono--13 icono--hboMax">
                <img
                  src="../../images/hbomax-logo.png"
                  alt="Logo de HBO Max"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 8</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--primeVideo"
            >
              <div
                class="logo-streaming p-2 m-3 icono icono--13 icono--primeVideo"
              >
                <img
                  src="../../images/primevideo-logo.png"
                  alt="Logo de Prime Video"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 7</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center p-4"
          >
            <div
              class="card-streaming d-flex flex-column justify-items-center align-items-center card-streaming--spotify"
            >
              <div
                class="logo-streaming p-2 m-3 icono icono--13 icono--spotify"
              >
                <img
                  src="../../images/spotify-logo.png"
                  alt="Logo de Spotify"
                  class="img-fluid"
                />
              </div>
              <p class="text-white fs-5 text-center py-2 lh-lg m-0">
                A solo
                <br />
                <span class="fs-2">S/. 7</span>
                <br />
                Al mes
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="my-5 p-0 mx-md-3 mx-lg-5">
        <h2 class="text-white fs-1 text-center pb-2 lh-base text-uppercase m-0">
          Métodos de pago
        </h2>
        <div class="d-flex pt-2 justify-content-center flex-wrap">
          <div
            class="mx-3 d-flex justify-content-center flex-column align-items-center"
          >
            <div class="logo-streaming p-2 m-3 icono icono--10">
              <img
                src="../../images/bcp-logo.svg"
                alt="Logo de BCP"
                class="img-fluid"
              />
            </div>
            <h3 class="text-white lh-base fs-4 text-center">BCP</h3>
            <p class="text-white lh-base fs-5 text-center m-0">
              1234567890987645 <br />Jose Velarde
            </p>
          </div>
          <div
            class="mx-3 d-flex justify-content-center flex-column align-items-center"
          >
            <div class="logo-streaming p-2 m-3 icono icono--10">
              <img
                src="../../images/yape-logo.svg"
                alt="Logo de Yape"
                class="img-fluid"
              />
            </div>
            <h3 class="text-white lh-base fs-4 text-center">YAPE</h3>
            <p class="text-white lh-base fs-5 text-center m-0">
              123456789 <br />Jose Velarde
            </p>
          </div>
          <div
            class="mx-3 d-flex justify-content-center flex-column align-items-center"
          >
            <div class="logo-streaming p-2 m-3 icono icono--10">
              <img
                src="../../images/bbva-logo.svg"
                alt="Logo de BBVA"
                class="img-fluid"
              />
            </div>
            <h3 class="text-white lh-base fs-4 text-center">BBVA</h3>
            <p class="text-white lh-base fs-5 text-center m-0">
              1234567890987645 <br />Jose Velarde
            </p>
          </div>
          <div
            class="mx-3 d-flex justify-content-center flex-column align-items-center"
          >
            <div class="logo-streaming p-2 m-3 icono icono--10">
              <img
                src="../../images/plin-logo.svg"
                alt="Logo de Plin"
                class="img-fluid"
              />
            </div>
            <h3 class="text-white lh-base fs-4 text-center">PLIN</h3>
            <p class="text-white lh-base fs-5 text-center m-0">
              123456789 <br />Jose Velarde
            </p>
          </div>
        </div>
      </div>
    </main>
    <script src="../../javascript/script.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
