<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de plataformas | Zorrito +</title>
    <link rel="shortcut icon" href="../../images/zorrito-icon.svg" />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="bg-black">
    <header class="position-sticky top-0 left-0 z-index-3 p-0">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid py-3 px-4">
          <a
            href="../../index.html"
            class="navbar-brand my-0 me-0 p-0 ms-md-3 ms-lg-5 icono--8"
            ><img
              src="../../images/zorrito-icon.svg"
              alt="Ícono de Zorrito Plus"
              class="w-100"
          /></a>
          <button
            class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around ms-0 me-md-3 me-lg-5 p-0 border border-0 position-relative shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-nav-toggler"
            aria-controls="navbar-nav-toggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span
              class="navbar-toggler__icon navbar-toggler__icon--top-bar d-block position-absolute bg-white w-100 start-0 mt-0"
            ></span>
            <span
              class="navbar-toggler__icon navbar-toggler__icon--middle-bar d-block position-absolute bg-white w-100 start-0 mt-0"
            ></span>
            <span
              class="navbar-toggler__icon navbar-toggler__icon--bottom-bar d-block position-absolute bg-white w-100 start-0 mt-0"
            ></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end my-0 mx-0 p-0 mx-md-3 ms-lg-0 me-lg-5"
            id="navbar-nav-toggler"
          >
            <ul class="navbar-nav d-lg-flex align-items-center pt-4 pt-lg-0">
              <li class="nav-item pb-2 pt-0 py-lg-0 px-0 pe-lg-4 text-center">
                <a
                  href="./mis-cuentas.html"
                  class="nav-link active fs-5 p-0 fw-bold text-uppercase readex-pro text-break"
                  >Mis cuentas</a
                >
              </li>
              <li class="nav-item py-2 py-lg-0 px-0 px-lg-4 text-center">
                <a
                  href="./catalogo-plataformas.html"
                  class="nav-link active fs-5 p-0 fw-bold text-uppercase readex-pro text-break"
                  >Plataformas</a
                >
              </li>
              <li
                class="nav-item dropdown py-2 py-lg-0 px-0 px-lg-4 text-center"
              >
                <a
                  class="nav-link active dropdown-toggle fs-5 p-0 fw-bold text-uppercase readex-pro text-break"
                  href="./mi-perfil.html"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Mi perfil
                </a>
                <ul class="dropdown-menu dropdown-menu-dark mt-2 border-0">
                  <li>
                    <a
                      class="dropdown-item fs-5 text-white text-break"
                      href="./mi-perfil.html"
                      ><i class="fa-solid fa-user pe-2"></i>Mi información</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      class="dropdown-item fs-5 text-white text-break"
                      href="../../index.html"
                      ><i class="fa-solid fa-right-from-bracket pe-2"></i>Cerrar
                      sesión</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item pt-2 pb-0 py-lg-0 px-0 ps-lg-4 text-center">
                <button
                  type="button"
                  class="bg-black border-white rounded-4 py-2 px-3 button--cart"
                  data-bs-toggle="modal"
                  data-bs-target="#cart-modal"
                >
                  <span
                    class="d-inline-block d-lg-none text-white fw-bold text-uppercase readex-pro fs-5 text-break"
                    >Mi carrito</span
                  ><i
                    class="fa-solid fa-cart-shopping text-white ps-2 ps-lg-0"
                  ></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="px-4">
      <div class="my-5 p-0 mx-md-3 mx-lg-5">
        <h1
          class="text-white fs-1 text-center p-0 lh-base text-uppercase m-0 text-break"
        >
          Catálogo de plataformas
        </h1>
        <div class="row justify-content-around">
          <div
            class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-5"
          >
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--netflix p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/netflix-logo.png"
                  alt="Logo de Netflix"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 12 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-netflix"
                    id="meses-pago-netflix"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-5"
          >
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--movistar-play p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/movistar-logo.png"
                  alt="Logo de Movistar Play"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 5 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-movistar-play"
                    id="meses-pago-movistar-play"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-5"
          >
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--disney-plus p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/disneyplus-logo.png"
                  alt="Logo de Disney Plus"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 7 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-disney-plus"
                    id="meses-pago-disney-plus"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-5"
          >
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--star-plus p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/starplus-logo.png"
                  alt="Logo de Star Plus"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 7 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-star-plus"
                    id="meses-pago-star-plus"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-5"
          >
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--HBO-max p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/hbomax-logo.png"
                  alt="Logo de HBO Max"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 8 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-HBO-max"
                    id="meses-pago-HBO-max"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-5"
          >
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--prime-video p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/primevideo-logo.png"
                  alt="Logo de Prime Video"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 7 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-prime-video"
                    id="meses-pago-prime-video"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-5">
            <div
              class="streaming-card d-flex flex-column justify-items-center align-items-center streaming-card--spotify p-3"
            >
              <div class="p-2 m-3 bg-black">
                <img
                  src="../../images/spotify-logo.png"
                  alt="Logo de Spotify"
                  class="img-fluid"
                />
              </div>
              <p
                class="text-white fs-4 text-center py-2 lh-lg my-0 mx-3 text-break"
              >
                A solo
                <br />
                S/. 7 Al mes
              </p>
              <div
                class="streaming-card__buttons d-flex flex-column align-items-center flex-md-row align-items-md-stretch flex-nowrap justify-content-center mx-3 my-2"
              >
                <button
                  class="streaming-card__buttons__cart button text-white fs-5 text-center lh-base border-0 px-3 py-2 rounded-4 w-100 my-2 bg-black me-0 me-md-1"
                >
                  <i class="fa-solid fa-cart-plus my-2"></i>
                </button>
                <div
                  class="streaming-card__buttons__months d-flex flex-row flex-nowrap my-2 justify-content-center position-static ms-0 ms-md-1"
                >
                  <div
                    class="streaming-card__buttons__months__text px-3 py-2 rounded-start-4 rounded-end-0 bg-black text-white border-0 d-flex align-items-center text-break"
                  >
                    Meses
                  </div>
                  <input
                    type="number"
                    value="1"
                    name="meses-pago-spotify"
                    id="meses-pago-spotify"
                    class="streaming-card__buttons__months__input px-3 py-2 rounded-start-0 rounded-end-4 border-0 flex-fill text-break"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div
      class="modal fade"
      id="cart-modal"
      tabindex="-1"
      aria-labelledby="cart-modal-label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered mx-auto p-3">
        <div class="modal-content border border-white border-2">
          <div class="modal-header text-center pb-0 pt-3 px-3">
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-3 py-0">
            <h1
              class="modal-title text-white fs-2 text-center lh-base pb-3 mx-3 my-0 fw-bold text-uppercase text-break"
              id="cart-modal-label"
            >
              Mi carrito
            </h1>
            <div
              class="d-flex flex-row flex-wrap align-items-center justify-content-center position-relative"
            >
              <div class="m-3">
                <div class="p-2 icono--6 bg-black icono icono--netflix">
                  <img
                    src="../../images/netflix-logo.png"
                    alt="Logo de Netflix"
                    class="img-fluid"
                  />
                </div>
              </div>
              <div class="m-3 text-center">
                <div class="text-white fs-5 pb-1 text-break lh-base my-auto">
                  Netflix
                </div>
                <div class="text-white fs-5 py-1 text-break lh-base my-auto">
                  S/. 12 x 5 meses = S/. 60
                </div>
              </div>
              <button
                type="button"
                class="position-absolute end-0 top-0 button--eliminar-cart p-2 bg-transparent border-0"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <div
              class="d-flex flex-row flex-wrap align-items-center justify-content-center position-relative"
            >
              <div class="m-3">
                <div class="p-2 icono--6 bg-black icono icono--netflix">
                  <img
                    src="../../images/netflix-logo.png"
                    alt="Logo de Netflix"
                    class="img-fluid"
                  />
                </div>
              </div>
              <div class="m-3 text-center">
                <div class="text-white fs-5 pb-1 text-break lh-base my-auto">
                  Netflix
                </div>
                <div class="text-white fs-5 py-1 text-break lh-base my-auto">
                  S/. 12 x 5 meses = S/. 60
                </div>
              </div>
              <button
                type="button"
                class="position-absolute end-0 top-0 button--eliminar-cart p-2 bg-transparent border-0"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <div
              class="text-white fs-5 pt-0 text-break lh-base text-center fw-semibold m-3 pb-1"
            >
              Total = S/. 120
            </div>
          </div>
          <div
            class="modal-footer d-flex justify-content-center align-items-center my-0 px-3 pb-3"
          >
            <button
              type="button"
              class="button button--blue text-white fs-5 text-center lh-base border-0 px-4 py-3 rounded-4 text-break mx-3 mb-3 mt-0"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="button button--olivedrab text-white fs-5 text-center lh-base border-0 px-4 py-3 rounded-4 text-break mx-3 mb-3 mt-0"
              data-bs-target="#add-credit-card-modal"
              data-bs-toggle="modal"
            >
              Comprar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="add-credit-card-modal"
      tabindex="-1"
      aria-labelledby="add-credit-card-modal-label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered mx-auto p-3">
        <div class="modal-content border border-white border-2">
          <div class="modal-header text-center pb-0 pt-3 px-3">
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-3 py-0">
            <h1
              class="modal-title text-white fs-2 text-center lh-base pb-3 mx-3 my-0 fw-bold text-uppercase text-break"
              id="add-credit-card-modal-label"
            >
              Ingresar tarjeta
            </h1>
            <form class="mx-3">
              <label
                for="numero-tarjeta"
                class="text-white fs-5 text-start text-break lh-base pb-2"
                >Ingresa número de tarjeta:</label
              >
              <input
                type="text"
                id="numero-tarjeta"
                name="numero-tarjeta"
                class="formulario__input border-0 text-break rounded-pill py-2 px-3 mt-2 mb-4 w-100"
                required
              />
              <label
                for="cvv-tarjeta"
                class="text-white fs-5 text-start text-break lh-base pb-2"
                >Ingresa CVV:</label
              >
              <input
                type="text"
                id="cvv-tarjeta"
                name="cvv-tarjeta"
                class="formulario__input border-0 text-break rounded-pill py-2 px-3 mt-2 mb-4 w-100"
                required
              />
              <label
                for="fecha-vencimiento-tarjeta"
                class="text-white fs-5 text-start text-break lh-base pb-2"
                >Ingresa fecha de vencimiento:</label
              >
              <input
                type="text"
                id="fecha-vencimiento-tarjeta"
                name="fecha-vencimiento-tarjeta"
                class="formulario__input border-0 text-break rounded-pill py-2 px-3 mt-2 mb-4 w-100"
                required
              />
              <label
                for="nombres-titular-tarjeta"
                class="text-white fs-5 text-start text-break lh-base pb-2"
                >Ingresa nombres del titular:</label
              >
              <input
                type="text"
                id="nombres-titular-tarjeta"
                name="nombres-titular-tarjeta"
                class="formulario__input border-0 text-break rounded-pill py-2 px-3 mt-2 mb-4 w-100"
                required
              />
              <label
                for="apellidos-titular-tarjeta"
                class="text-white fs-5 text-start text-break lh-base pb-2"
                >Ingresa apellidos del titular:</label
              >
              <input
                type="text"
                id="apellidos-titular-tarjeta"
                name="apellidos-titular-tarjeta"
                class="formulario__input border-0 text-break rounded-pill py-2 px-3 mt-2 mb-4 w-100"
                required
              />
            </form>
          </div>
          <div
            class="modal-footer d-flex justify-content-center align-items-center my-0 px-3 pb-3"
          >
            <button
              type="button"
              class="button button--blue text-white fs-5 text-center lh-base border-0 px-4 py-3 rounded-4 text-break mx-3 mb-3 mt-0"
              data-bs-dismiss="modal"
            >
              Comprar
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../javascript/script.js"></script>
    <script
      src="https://kit.fontawesome.com/d305e9edbf.js"
      crossorigin="anonymous"
    ></script>
    <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
